.invite-block {
  padding: 10px;
}

.upwork-icon {
  width: 14px;
  height: 14px;
}

.integrations {
  display: flex;
  justify-content: start;

  .icon-container {
    width: 15px;
  }

  & > * {
    margin-right: 7px;
  }
}
