.invite-block {
  padding: 10px;
}

.upwork-icon {
  height: 14px;
  width: 14px;
}

.integrations {
  display: flex;
  justify-content: start;

  .icon-container {
    width: 15px;
  }

  * {
    margin-right: 7px;
  }
}

.nav-tabs-custom {
  position: relative;
}

.tab-content tr > th:first-child,
.tab-content tr > td:first-child {
  text-align: center;
}
