.avatar { width: 120px }

.set {
  width: inherit
}

.integration-switcher {
  width: 690px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  /deep/ .btn-group {
    .btn-primary:not(.active) {
      &:active,
      &:focus {
        background-color: #3c8dbc !important;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .integration-switcher {
    width: auto;
  }
}
