<section class="content-header">
  <h1>
    User Profile
  </h1>
  <ol class="breadcrumb margin-bottom-none">
    <li><a [routerLink]="['/']">Home</a></li>
    <li class="active">User profile</li>
  </ol>

</section>


<section class="content">
  <div class="row">
    <div class="col-lg-4">

      <div class="box box-primary">
        <div class="box-body box-profile">
          <div class="col-xs-12">
            <img class="profile-user-img img-responsive img-circle avatar"
                 [src]="user?.avatar.small"
                 alt="User profile picture"
                 appImageUpload
                 [disable]="!isCurrUser"
                 (fileChange)="onChange($event)">
          </div>

          <h3 class="profile-username text-center">{{ user?.fullName }}</h3>

          <p class="text-muted text-center">{{ user?.role.name }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>{{ userStats?.week.begin | date:'dd MMMM' }} - {{ userStats?.week.end | date:'dd MMMM yyyy' }}</b> <a
              class="pull-right">{{ userStats?.week.minutes | humanizeTime }}</a>
            </li>
            <li class="list-group-item">
              <b>{{ userStats?.month.name }}</b> <a class="pull-right">{{ userStats?.month.minutes | humanizeTime }}</a>
            </li>
            <li class="list-group-item">
              <b>{{ userStats?.prev_month.name }}</b> <a class="pull-right">{{ userStats?.prev_month.minutes |
              humanizeTime }}</a>
            </li>
          </ul>

          <!--<a class="btn btn-primary btn-block"><b>Follow</b></a>-->
        </div>
      </div>

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div>

        <div class="box-body no-padding">
          <table class="table table-striped table-responsive">
            <tbody>
            <tr>
              <td><i class="fa fa-fw fa-birthday-cake"></i></td>
              <td>Date of birth</td>
              <td><span>{{ user?.birthday | date:'MMMM dd, yyyy' }}</span></td>
            </tr>
            <tr>
              <td><i class="fa fa-fw fa-envelope"></i></td>
              <td>Email</td>
              <td><a href="mailto:{{ user?.email }}"><span>{{ user?.email }}</span></a></td>
            </tr>
            <tr>
              <td><i class="fa fa-fw fa-phone"></i></td>
              <td>Phone number</td>
              <td><a href="tel:{{ user?.phone }}"><span>{{ user?.phone }}</span></a></td>
            </tr>
            <tr>
              <td><i class="fa fa-fw fa-clock-o"></i></td>
              <td>Timing</td>
              <td><span>{{ user?.timing?.time }}</span></td>
            </tr>
            <tr>
              <td><i class="fa fa-fw fa-github"></i></td>
              <td>Github</td>
              <td><a href="{{ user?.github }}"><span>{{ user?.github }}</span></a></td>
            </tr>
            <tr>
              <td><i class="fa fa-fw fa-bitbucket"></i></td>
              <td>Bitbucket</td>
              <td><a href="{{ user?.bitbucket }}"><span>{{ user?.bitbucket }}</span></a></td>
            </tr>
            <tr>
              <td><i class="fa fa-fw fa-skype"></i></td>
              <td>Skype</td>
              <td><a href="skype:{{ user?.skype }}?call"><span>{{ user?.skype }}</span></a></td>
            </tr>
            <tr *ngIf="user.slackId">
              <td><i class="fa fa-fw fa-slack"></i></td>
              <td>Slack</td>
              <td><a [href]="slackUrl()"><span>{{ user?.slackName }}</span></a></td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="isCurrUser">
            <a class="btn btn-block btn-primary margin set"
               (click)="onButtonClick()">
              <b>Edit profile</b>
            </a>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
    </div>


    <div class="col-lg-8">
      <div class="nav-tabs-custom">

        <tabset #tabset>
          <tab class="nav-tabs-custom"
               id="activity"
               heading="Activity"
               (select)="onTabSelect('activity')">
            <div class="tab-content">
              <app-user-activity>
                <div class="integration-switcher">
                  <div class="btn-group"
                       btnRadioGroup
                       (click)="onIntegrationChange()"
                       [(ngModel)]="filter.source">
                    <label class="btn btn-primary" [btnRadio]="tgTypes.timeDoctor.id"
                           uncheckable tabindex="0" role="button">TimeDoctor</label>
                    <label class="btn btn-primary" [btnRadio]="tgTypes.upWork.id"
                           uncheckable tabindex="0" role="button">UpWork</label>
                  </div>
                </div>
                <app-time-activity width="690px"></app-time-activity>
                <br>
                <app-time-table width="690px"></app-time-table>
                <br>
                <app-recent-update
                  *ngIf="user"
                  [userId]="user.id"></app-recent-update>
              </app-user-activity>
            </div>
          </tab>
          <tab class="nav-tabs-custom"
               id="updates"
               heading="Updates"
               (select)="onTabSelect('updates')">
            <div class="tab-content">
              <app-user-timeline>
                <app-updates *ngIf="user"
                    [user]="user"
                    [hideProjectFilter]="true"></app-updates>
              </app-user-timeline>
            </div>
          </tab>
          <tab *ngIf="isCurrUser"
               class="nav-tabs-custom"
               id="settings"
               heading="Settings"
               (select)="onTabSelect('settings')">
            <div class="tab-content">
              <app-user-settings>
                <app-user-settings-form></app-user-settings-form>
              </app-user-settings>
            </div>
          </tab>
        </tabset>
      </div>
    </div>

  </div>
</section>
