.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
