:host {
  display: block;
  height: 100%;
  width: 100%;
}

/deep/ .svg-tooltip {
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  font: 12px sans-serif;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
}
