<a class="dropdown-toggle" dropdownToggle>
  <i class="fa fa-flag-o"></i>
  <span *ngIf="notifications.length > 0" class="label label-warning">
    {{ notifications.length }}
  </span>
</a>

<ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
  <li class="header" *ngIf="notifications.length === 0">
    Yeah! All readed!
  </li>
  <li class="header" *ngIf="notifications.length > 0">
    You have {{ notifications.length }} notifications:
  </li>

  <li *ngIf="notifications.length > 0">
    <ul class="notifications-list">
      <li *ngFor="let notification of notifications">
        <div class="notification">
          <div class="notification-text">
            {{ notification.text }}
          </div>
          <div class="notification-read">
            <a class="notification-close"><i class="fa fa-close" (click)="read(notification.id)"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </li>

  <li class="footer" *ngIf="notifications.length > 0">
    <a (click)="readAll()">Mark all as read</a>
  </li>
</ul>
