.notifications-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr min-content;
}

.foo {
  color: #1a2226;

  &:hover {
    color: #2C8DBA;
  }
}
