label[for="birthdate"] {
  white-space: nowrap !important;
}

.avatar {
  background-image: url('/assets/i.jpeg');
  background-position: center;
  background-size: cover;
  height: 230px;
  width: 230;
}
