.wrap {
  padding: 20px 30px
}

.filter-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr max-content;
  grid-gap: 10px;

  .btn {
    height: fit-content;
  }
}

.shadow {
  color: rgba(52, 52, 52, 0.51)
}

.fa-fw {
  cursor: pointer;
  opacity: .4;

  &:hover {
    opacity: 1;
  }
}

.future {
  background-color: #fafafa;
}

.progress {
  position: relative;
  height: 7px;
  margin: 0;

  .progress-bar {
    background-color: #51BE71;
  }

  .all-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #d4dadb;
  }

  .paid-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #51BE71;
  }
}

.horizontal {
  overflow-x: auto;
}

@media only screen and (max-width: 767px) {

  .filter-controls {
    grid-template-columns: 1fr;
  }

}
