.wrap {
  padding: 20px 30px
}

.total {
  font-size: x-large;
  text-align: center;
}

.dash {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
}
