:host {
  background: #d2d6de;
  display: block;
  min-height: 100%;

  & * {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
  }
}

.box-body {
  width: 700px;
  margin: 0 auto;

  @media only screen and (max-width: 800px) {
    width: 80%;

    * {
      font-size: 19px;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 90%;

    * {
      font-size: 17px;
    }
  }

  h4 {
    font-weight: bold;
  }

  ol {
    list-style: none;
    counter-reset: li;
    font-weight: normal;

    li:before {
      counter-increment: li;
      content: counters(li, ".") ". ";
      font-weight: bold;
    }

    li:first-child {
      padding-top: 10px;
    }

    &.main-list {
      padding-left: 0;

      &  > li {
        font-weight: bold;
        padding-bottom: 40px;
      }

      & ol {
        padding-left: 15px;

        li {
          padding-bottom: 10px;
        }
      }
    }
  }
}

.box-footer {
  & * {
    font-size: 14px;
  }
}
