<section class="content-header">
  <h1>
    Terms and conditions
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']">Home</a></li>
    <li class="active">Terms and conditions</li>
  </ol>
</section>

<section class="content">


  <div class="row">
    <div class="col-md">
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-text-width"></i>

          <h3 class="box-title">Please read terms below thoroughly. <b class="badge bg-red">Warning!</b> If you disagree
            on any item of this terms - please contact Nina in Slack!</h3>
        </div>
        <div class="box-body">

          <ol>
            <li class="margin-bottom">
              Без английского сложна жизнь программиста Российского;
            </li>
            <li class="margin-bottom">
              Чтоб сон был крепок и здоров сделай 7 часов;
            </li>
            <li class="margin-bottom">
              На темных просторах интернету оставь дорожку хлебную и назови ее Update. Сам не потеряешься и другие
              тебя
              найдут;
            </li>
            <li class="margin-bottom">
              Хворь почуял пиши в General;
            </li>
            <li class="margin-bottom">
              Увидел message в Ahtung не проходи мимо помоги;
            </li>
            <li class="margin-bottom">
              Смайлик в сообщении не забудь поставить, и увидишь как легче жизнь становиться;
            </li>
            <li class="margin-bottom">
              Не знаешь - научим, не хочешь - доброй дороги.
            </li>
          </ol>

          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <input type="checkbox"> I agree to the terms and conditions
              </label>
            </div>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success margin">Accept</button>
          </div>
        </div>
        <!-- /.box-body -->
      </div>

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
