<section class="content">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border text-center">
          <h3 class="box-title">Agreement</h3>
        </div>
        <div class="box-body">
          <h4>Со стороны сотрудника:</h4>
          <ol class="main-list">
            <li>Рабочее время
              <ol>
                <li>Пятидневная 40 часовая рабочая неделя. Выходные дни – суббота и воскресенье, если не предполагается овертайм.</li>
                <li>Овертаймы по инициативе компании оплачиваются дополнительно. Овертаймы по инициативе сотрудника не поддерживаются и не оплачиваются.</li>
                <li>Восьмичасовой рабочий день, семь часов из которого должны быть подтверждены счетчиком - timedoctor. Мы ожидаем, что начало и конец рабочего дня, которые мы согласуем, будет именно таким, как мы договоримся. Если нужно внести изменения - предупреждаете об этом как минимум за 3-4 дня.
                  <ol>
                    <li>Если по каким-то причинам отработано меньше часов, у вас есть возможность в течение недели это исправить.</li>
                    <li>Если что-то поменялось в расписании, необходимо оповестить об этом тимлида и менеджера, чтобы вместе решить проблему с минимальными потерями.</li>
                  </ol>
                </li>
                <li>Время начала работы мы согласовываем из совмещения 2х параметров: необходимости проекта (требования заказчика или тимлида) и того времени, которое программист считает лучшим для работы своего мозга.</li>
                <li>Для всех сотрудников время присутствия онлайн, чтобы иметь возможность вовремя и быстро принимать и давать обратную связь, обязательно должно быть с 11 до 16 по мск.</li>
              </ol>
            </li>
            <li>Интеллектуальная и материальная собственность
              <ol>
                <li>Все аккаунты, созданные в целях компании, принадлежат компании, и после увольнения сотрудник не имеет права использовать их в своих целях и иметь к ним доступ. Все аккаунты, созданные до работы в Roonyx, по-прежнему принадлежат сотруднику.</li>
                <li>Все интеллектуальные продукты, созданные сотрудником в рамках работы в Roonyx, в проектах, которые предоставляет компания, принадлежат компании и не могут быть использованы в личных целях без согласования с собственником компании.</li>
                <li>Разработки внутри компании являются секретной информацией.</li>
                <li>Компания предоставляет сотрудникам все необходимое для работы. Это – имущество Roonyx. Мы ожидаем от сотрудников, что они будут относиться к нему бережно и использовать разумным образом. То же самое относится и к офисным помещениям, в которых мы работаем.</li>
                <li>У нас открытый офис, все сотрудники могут приводить своих гостей. При этом помните, что на вас лежит полная ответственность за то, чтобы ваши гости никому не мешали в работе, а также, чтобы не произошло утечки конфиденциальной информации или порчи имущества. Все время, в течение которого гости находятся в офисе, они не должны оставаться одни, без сопровождения.</li>
              </ol>
            </li>
            <li>Процессы
              <ol>
                <li>Необходимо выполнять все правила, принятые в разработке проекта, в котором вы задействованы.</li>
                <li>Во время разработки проекта бывают обязательные митинги. Нужно быть подготовленным, вовремя. Мы не делаем их частыми. Митинг позволяет поддерживать культуру разработки (а это и качество, и сроки, и связь с клиентом) на высоком уровне, а это наша основная ценность.</li>
                <li>Если возникла проблема, необходимо тут же оповестить об этом тимлида и менеджера, чтобы вместе решить проблему с минимальными потерями.</li>
                <li>Необходимо ежедневно писать в специальный канал slack Update по своей работе. Отсутствие апдейтов станет поводом обсудить вашу занятость с проекцией на зарплату.</li>
              </ol>
            </li>
            <li>Коммуникации и общение
              <ol>
                <li>Недопустимы никакие агрессивные выпады, оскорбления или оскорбительные шутки. Поведение, враждебное по отношению к коллегам или оскорбительное для кого-либо из них, недопустимо.</li>
                <li>Обратная связь по задаче должна быть всегда вовремя, должна быть исчерпывающей, вежливой и понятной - как для команды, так и для заказчика.</li>
                <li>Если возникли сложности в коммуникации, об этом должен сразу же узнать менеджер проекта.</li>
              </ol>
            </li>
            <li>Английский язык
              <ol>
                <li>Есть занятия английским языком за счет компании, 2 часа в неделю. Эти часы не входят в обязательные 7 часов по таймеру.</li>
                <li>Ежемесячно каждый проходит экзамен в форме интервью с клиентом/ самопрезентации. Так мы сможем видеть динамику и вносить изменения в процесс обучения.</li>
              </ol>
            </li>
          </ol>

          <form [formGroup]="form" (submit)="submitAgreement(form.value)">
            <div class="col-sm-12" *ngIf="!currentUser.agreementAccepted">
              <div class="checkbox pull-right">
                <label>
                  <input type="checkbox" formControlName="agreed"> I agree to the terms and conditions
                </label>
                <button type="submit" class="btn btn-success margin">Accept</button>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="!currentUser.registrationFinished && currentUser.agreementAccepted">
              <div class="checkbox pull-right">
                <button type="submit" class="btn btn-success margin" [routerLink]="['/registration']">Continue to
                  registration
                </button>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="currentUser.agreementAccepted && currentUser.registrationFinished">
              <div class="checkbox pull-right">
                <button type="submit" class="btn btn-info margin" [routerLink]="['/profile']">Return to profile</button>
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer">
          <p class="text-center">
            If you disagree on any item of this terms - please contact Nina in Slack!
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
