<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Serial</th>
      <th>Start using</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inventory of inventories; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ inventory.title }}</td>
      <td>{{ updateSerial(inventory.serial) }}</td>
      <td>
        {{ inventory.given[inventory.given.length - 1]
          .startedAt | date:'dd MMMM yyyy' }}
      </td>
    </tr>
  </tbody>
</table>
