:host {
  background: #d2d6de;
  display: block;
  min-height: 100%;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto 30px auto;
  width: 80%;
}

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
}
