<div class="filter-controls">
  <div class="input-group">
    <ng-select
      bindLabel="fullName"
      placeholder="Select users"
      notFoundText="Users not found"
      [items]="users | async"
      [multiple]="true"
      [typeahead]="typeahead"
      [closeOnSelect]="false"
      [hideSelected]="true"
      [(ngModel)]="items"
      (change)="onUserChanged($event)">
    </ng-select>
  </div>
  <div class="input-group"
      *ngIf="!hideProjectFilter">
    <ng-select
      bindLabel="name"
      placeholder="Select project"
      notFoundText="Project not found"
      [items]="projects | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [hideSelected]="true"
      (change)="onProjectChanged($event)">
    </ng-select>
  </div>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <input class="form-control"
           placeholder="Choose dates"
           bsDaterangepicker
           [(ngModel)]="filterDate"
           (ngModelChange)="onDateChange()">
  </div>
  <div class="input-group">
    <input class="form-control"
           placeholder="Search"
           #searchInput
           [(ngModel)]="filterText">
  </div>
</div>
<ng-container *ngIf="data?.updates.length">
  <ul class="timeline timeline-inverse">
    <ng-container *ngFor="let update of data.updates">
      <li class="time-label"
          *ngIf="isShouldShowRedLabel(update)">
        <span class="bg-red">
          {{ showDate(update.date, 'D MMM, YYYY') }}
        </span>
      </li>
      <li>
        <i class="fa fa-file-o bg-blue"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> {{ showDate(update.date, 'HH mm') }}</span>

          <h3 class="timeline-header">
            <b>{{ update.user.fullName }}</b> {{ showDate(update.date, 'MMMM D YYYY') }}
          </h3>

          <div class="timeline-body">
            <div class="row">
              <div class="col-md-6">
                <strong><i class="fa fa-thumbs-o-up margin-r-5"></i> Task(s) I did today:</strong>
                <p class="text-muted"
                    *ngFor="let madeLine of update.made.split('\n')"
                    [innerHTML]="madeLine">
                </p>

                <strong><i class="fa fa-check-square-o margin-r-5"></i> What I plan for tomorrow:</strong>
                <p class="text-muted"
                   *ngFor="let planLine of update.planning.split('\n')"
                   [innerHTML]="planLine">
                </p>
              </div>
              <div class="col-md-6">
                <strong><i class="fa fa-frown-o margin-r-5"></i> Any issues:</strong>
                <p class="text-muted"
                   *ngFor="let issueLine of update.issues.split('\n')"
                   [innerHTML]="issueLine">
                </p>
              </div>
            </div>
          </div>

        </div>

      </li>
    </ng-container>
    <li>
      <i class="fa fa-clock-o bg-gray"></i>
    </li>
  </ul>
</ng-container>
