.filter-controls {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  .input-group {
    width: 300px;
  }
}

.action {
  cursor: pointer;
}

@media (max-width: 767px) {
  .filter-controls {
    display: block;
    padding: 20px;

    .input-group {
      margin: 10px auto;
      width: 100%;
    }
  }
}
