:host {
  background: #d2d6de;
  display: block;
  min-height: 100%;
}

.box {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

.header-with-date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.box-header:before, .box-header:after {
  content: none;
}

.date {
  color: rgba(0, 0, 0, 0.54);
}

.old-update-message {
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .box {
    width: unset;
  }
}
