<section class="content">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border header-with-date">
          <h4 class="title">
            Write a new update
          </h4>
          <h5 class="date">
            {{ update.date | date }}
          </h5>
        </div>
        <div class="box-body" *ngIf="isAllowedToSendUpdate; else forbiddenToWriteUpdate">
          <p>
            <b>
              You planned to do
            </b>
          </p>
          <p>
            {{ promisedToDo }}
          </p>
          <form (ngSubmit)="sendUpdate()">
            <div class="form-group">
              <label for="update-made">
                You have done today
              </label>
              <ul>
                <ng-container *ngFor="let task of doneTodayTasks">
                  <li>
                    <p *ngIf="task.task_url; else taskWithoutUrl">
                      <a href="{{ task.task_url }}">
                        {{ getTaskName(task) }}
                      </a>
                    </p>
                    <p #taskWithoutUrl>
                      {{ task.task_name }}
                    </p>
                  </li>
                </ng-container>
                <ng-container *ngIf="doneTodayTasks && doneTodayTasks.length === 0">
                  <li>
                    You haven't done today anything through tracker
                  </li>
                </ng-container>
              </ul>
              <textarea
                autosize
                type="text"
                class="form-control"
                placeholder="Finished tasks"
                id="update-made"
                name="update-made"
                required
                [(ngModel)]="update.made">
              </textarea>
            </div>
            <div class="form-group">
              <label for="update-planning">
                What are you going to do tomorrow?
              </label>
              <textarea
                autosize
                type="text"
                class="form-control"
                placeholder="Tasks you gonna do"
                id="update-planning"
                name="update-planning"
                required
                [(ngModel)]="update.planning">
              </textarea>
            </div>
            <div class="form-group">
              <label for="update-issues">
                Problems?
              </label>
              <textarea
                autosize
                type="text"
                class="form-control"
                placeholder="Problems"
                id="update-issues"
                name="update-issues"
                required
                [(ngModel)]="update.issues">
              </textarea>
            </div>
            <div class="row">
              <div class="col-xs-8"></div>
              <div class="col-xs-4">
                <button
                  type="submit"
                  class="btn btn-primary btn-block btn-flat"
                  [disabled]="!update.issues || !update.planning || !update.made">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <ng-template class="box-body" #forbiddenToWriteUpdate>
        <p class="old-update-message">
          Sorry, you can't write an update on this date
        </p>
      </ng-template>
    </div>
  </div>
</section>
