.active > .treeview-menu {
  display: none;
}

.main-sidebar {
  width: 200px;
  position: fixed;
  transition: transform .3s ease-in-out,
              width .3s ease-in-out,
              -webkit-transform .3s ease-in-out,
              padding-top .1s ease-in-out;

  &.scrolled {
    padding-top: 0;
    transition: transform .3s ease-in-out,
                width .3s ease-in-out,
                -webkit-transform .3s ease-in-out,
                padding-top .5s ease-in-out;
  }

  .treeview {
    &.menu-open {
      .treeview-menu {
        display: block;
      }
    }
  }
}

.sidebar-menu > li:hover {

  > a > .pull-right-container {
    left: 180px !important;
  }
}
