.form-group {
  [type="radio"]:not(:first-child) {
    margin-left: 15px;
  }
}

/deep/ accordion .panel-heading {
  padding: 0 15px;
}

.integrations {
  .integration-name {
    display: inline-block;
    margin-top: 15px;
  }

  .upwork-icon {
    width: 14px;
    height: 14px;
  }

  .btn-wrapper {
    display: inline-block;
    margin: 10px;
    .btn {
      background-color: transparent;
      font-weight: bold;
      color: #c5c5c5;
      &:hover {
        color: rgba(0, 0, 0, .9);
      }
    }
  }

  .switch-wrapper {
    float: right;
    width: 190px;
    display: flex;
    justify-content: center;
  }
}
