<ng-content></ng-content>
<div class="box integrations">
  <div class="box-header">
    <h3 class="box-title">Integrations</h3>
  </div>

  <div class="box-body">
    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                 aria-describedby="example2_info">
            <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                  aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Service
              </th>
              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                  aria-label="Browser: activate to sort column ascending">Action
              </th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" class="odd">
              <td class="sorting_1" style="vertical-align: middle"><b>Slack</b></td>
              <td>
                <app-slack-connect-button
                  [connected]="currentUser.slackConnected">
                </app-slack-connect-button>
              </td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1" style="vertical-align: middle"><b>Timedoctor</b></td>
              <td>
                <app-timedoctor-connect-button
                  [connected]="currentUser.timedoctorConnected">
                </app-timedoctor-connect-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
