<ng-content></ng-content>

<div class="box integrations">
  <div class="box-header">
    <h3 class="box-title">Integrations</h3>
  </div>

  <div class="box-body">
    <div class="integration-row">
      <span>
        <i class="fa fa-slack"></i>
        <b>Slack</b>
      </span>
      <app-slack-connect-button class="pull-right"
          [connected]="currentUser.slackConnected"
          connectName="Connect to Slack"
          disconnectName="Disconnect from Slack">
      </app-slack-connect-button>
    </div>
    <div class="integration-row">
      <span>
        <i class="fa fa-clock-o"></i>
        <b>Timedoctor</b>
      </span>
      <app-timedoctor-connect-button class="pull-right"
          [connected]="currentUser.timedoctorConnected"
          connectName="Connect to Timedoctor"
          disconnectName="Disconnect from Timedoctor">
      </app-timedoctor-connect-button>
    </div>
  </div>
</div>
