<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Recent update - April 13 2097</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <strong><i class="fa fa-thumbs-o-up margin-r-5"></i> Task(s) I did today:</strong>

    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>
    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>

    <hr>

    <strong><i class="fa fa-check-square-o margin-r-5"></i> What I plan for tomorrow:</strong>

    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>
    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>

    <hr>

    <strong><i class="fa fa-frown-o margin-r-5"></i> Any issues:</strong>

    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>
    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>

  </div>
  <!-- /.box-body -->
</div>
