<div class="box box-primary">
  <div class="box-header with-border">
    <div class="app-wrapper" [style.width]="width">
      <h3 class="box-title">All time this week {{ totalWeekTimeText }}
        <a href="https://roonyx.timedoctor.com" target="_blank">TimeDoctor</a>
      </h3>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td *ngFor="let week of weeks">{{ week }}</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td *ngFor="let time of times">{{ time }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
