<section class="content-header">
  <h1>
    Members List
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']">Home</a></li>
    <li class="active">Members List</li>
  </ol>
</section>

<br>

<section class="content">

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <form action="#"
            method="get"
            (ngSubmit)="onButtonClick()">
        <div class="form-group">
          <input type="text"
                 #input
                 name="name"
                 class="form-control"
                 placeholder="Search..."
                 [(ngModel)]="searchField"
                 (keyup)="onSearchDelay()">
        </div>
      </form>
    </div>
  </div>

  <br>

  <div class="box-body no-padding search-results"
       data-infinite-scroll
       [scrollWindow]="scrollWindow"
       (scrolled)="onScrollDown()">
    <ul class="users-list clearfix text-center">
      <li *ngFor="let user of usersList">
        <a [routerLink]="['/user-profile', user.id]">
          <img
            src="{{ user.avatar.medium.url }}"
            alt="User avatar">
        </a>
        <a class="users-list-name" [routerLink]="['/user-profile', user.id]">{{ fullNameAppender(user) }}</a>
        <span class="users-list-date">{{ user.position }}</span>
      </li>
    </ul>
  </div>

</section>
