.users-list > li {
  width: 220px;

  @media only screen and (max-width: 767px) {
    padding: 15px
  }
  @media only screen and (max-width: 470px) {
    padding: 15px;
    width: 170px;
  }
}

.users-list-name {
  margin: 5px;
}

