<section class="content-header">
  <h1>
    Manage projects
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Project name</th>
              <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects">
              <td>{{ project.name }} </td>
              <td>
                <input type="checkbox"
                       [checked]="project.paid"
                       (click)="setPaidProject($event, project.id)">
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center"
               *ngIf="project && project.length <= 0">
            No data to display
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
