ngx-dropdown-treeview {
  .btn-dropdown-treeview {
    border-color: #d2d6de;

    & + .dropdown-menu {
      .dropdown-container {
        .treeview-header {
          .row {
            display: table-footer-group;
          }
        }
        .treeview-container {
          padding-top: 10px;
          padding-left: 2px;
        }
      }
    }
  }

}
