@import 'adminlte';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "styles/changing-width-sidebar";

a {
  cursor: pointer;
}

.nav-tabs {
  .nav-item {
    .nav-link {
      &.active {
        border-top: 3px solid #3c8dbc;
      }
    }
  }
}

.relative { position: relative !important }

/* Directives */
img[appImageUpload] {
  transition: filter .3s ease-in-out;

  & + .appImageUpload {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 85%;
    color: #fff;
    opacity: 0;
    transition: bottom .5s cubic-bezier(0.46, 0.46, 0.6, 1.49), opacity .5s ease;
    cursor: pointer;

    &.open {
      bottom: 40%;
      opacity: 1;
    }
  }
}

/* Modals */
.modal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  .modal-content {
    width: 100%;
  }
}
