<div class="box">
    <div class="box-header">
      <h3 class="box-title">Inventories</h3>
      <div class="box-tools">
        <button type="button"
                class="btn btn-primary btn-sm btn-flat"
                (click)="addInventory()">Add an inventory</button>
      </div>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Purchased at</th>
            <th>Title</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Life time</th>
            <th>Username history</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventory of inventories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ inventory.purchasedAt | date:'MMMM dd, yyyy' }}</td>
            <td>{{ inventory.title }}</td>
            <td>{{ inventory.price }}</td>
            <td>{{ updateSerial(inventory.serial) }}</td>
            <td>{{ inventory.life }}</td>
            <td>
              <div *ngIf="inventory.given">
                <div class="area" *ngFor="let give of inventory.given;">
                  <div *ngIf="give.user">
                    <b>user</b>: {{ give.user.name }} {{ give.user.surname }}<br>
                    <b>start using</b>: {{ give.startedAt | date:'dd MMMM yyyy' }} <br>
                    <div *ngIf="give.endedAt">
                      <b>end using</b>: {{ give.endedAt | date:'dd MMMM yyyy' }}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="no-padding text-right">
              <a *ngIf="showGiveButton(inventory.given)"
                  class="btn btn-primary btn-flat"
                  (click)="giveInventory(inventory)">
                Give item
              </a>
              <a *ngIf="showTakeButton(inventory.given)"
                  class="btn btn-danger btn-flat"
                  (click)="takeInventory(inventory)">
                Take item off
              </a>
              </td>
              <td class="no-padding text-right">
              <a class="btn btn-primary btn-flat"
                 (click)="editInventory(inventory)">
                <i class="fa fa-pencil"></i>
              </a>
              <a class="btn btn-danger btn-flat"
                 (click)="deleteInventory(inventory)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
