<div class="modal-header">
    <h4 *ngIf="inventory.title; else adding"
         class="modal-title pull-left">
         Editing: {{ inventory.title }}
    </h4>
    <ng-template #adding>
      <h4>Adding an inventory</h4>
    </ng-template>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal"
          [formGroup]="form"
          autocomplete="off">
      <div class="box-body">
        <div class="form-group"
             [ngClass]="{ 'has-error': hasError('purchasedAt') }">
          <label for="purchasedAt" class="col-sm-2 control-label">Purchased*</label>
          <div class="col-sm-10">
            <input bsDatepicker
                   class="form-control"
                   id="purchasedAt"
                   placeholder="Enter purchased"
                   formControlName="purchasedAt">
            <span class="help-block">{{ textError('purchasedAt') }}</span>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{ 'has-error': hasError('title') }">
          <label for="title" class="col-sm-2 control-label">Title*</label>
          <div class="col-sm-10">
            <input class="form-control"
                   id="title"
                   placeholder="Enter title"
                   formControlName="title">
            <span class="help-block">{{ textError('title') }}</span>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{ 'has-error': hasError('price') }">
          <label for="price" class="col-sm-2 control-label">Price*</label>
          <div class="col-sm-10">
            <input class="form-control"
                   id="price"
                   placeholder="Enter price"
                   formControlName="price">
            <span class="help-block">{{ textError('price') }}</span>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{ 'has-error': hasError('life') }">
          <label for="life" class="col-sm-2 control-label">Life*</label>
          <div class="col-sm-10">
            <input class="form-control"
                   id="life"
                   placeholder="Enter life"
                   formControlName="life">
            <span class="help-block">{{ textError('life') }}</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="saveData()">
      Submit
    </button>
  </div>
