$white: #fff;
$black: #000;

.wrap {
  padding: 20px 30px;
}

.total {
  font-size: x-large;
  text-align: center;
}

.dash {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
}

.filter-controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.calendar-control {
  align-items: center;
  display: flex;
}

.c-label {
  font-weight: bold;
  margin: 0 5px 0 15px;
}

.chart {
  display: flex;
  justify-content: center;
}

chart {
  display: block;
  height: 400px;
  width: 100%;
}

.loading {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
}

.progress {
  position: relative;

  > span {
    color: $white;
    position: absolute;
    text-align: center;
    text-shadow: -1px -1px 0 $black,
                 1px -1px 0 $black,
                 -1px 1px 0 $black,
                 1px 1px 0 $black;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .dash {
    grid-template-rows: repeat(5, 1fr);
  }

  .filter-controls {
    display: grid;
    grid-template-columns: 1fr;

    button {
      margin-top: 10px;
      width: 25%;
    }
  }
}
